<br>
<br>
<br>
<br>
<div class="card mb-3 y-100" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag(@user.display_avatar(@user), class: 'img-fluid rounded-start') %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%= @user.username %> </h5>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="cols-lg-3">
    <div class="card-group">
      <% @posts.each do |post| %>
      <div class="card">
        <%= image_tag post.image, class: 'card-img-top' %>
        <div class="card-body">
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
