<div class="card mx-auto w-50">
  <% @posts.each do |post| %>
  <div class="card-body">
    <%= image_tag (post.user.display_avatar(post.user)), style: "height: 50px; width: 50px", class: "rounded-circle inline" %>
    <%= link_to post.user.username, profile_path(post.user.username) %>
  </div>
  <%= image_tag post.image, class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <% end %>
</div>
