<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body p-2">
        <%= image_tag @post.image, class: 'd-block w-100' %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= link_to @post.user.username, profile_path(@post.user.username) %>

    <p class="border-top mt-3 py-2">
      <% if @post.title.present? %>
        <%= @post.title %>
      <% end %>
      <span class="text-muted"><%= time_ago_in_words @post.created_at %> ago</span>
    </p>
  </div>
</div>
